<div *ngFor="let pokemon of pokemonList">

    <main class="container-xxl margin-divide">
     
        <section class="margin-divide container">
      
            <div class="row my-custom-row justify-content-center align-items-start">
                <div class="col-sm-5 p-3 my-custom-row text-center card-dark-bg rounded">
                    <div class="col text-center"> {{ pokemon.name }} </div>
                    <img
                        src="{{
                        'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' +
                            pokemon.id +
                            '.png'
                        }}"
                        alt=""
                        class="w-50"
                        style="image-rendering: pixelated;"
                    />   
                </div>
    
                <div class="col-sm-5 p-3 my-custom-row card-dark-bg rounded">          
                    <div class="row justify-content-between">
                        <p class="col text-center">Id: {{ pokemon.id }} </p>
                        <p class="col text-center">Height: {{ pokemon.height }}</p>
                    </div>
    
                    <div class="row justify-content-between">
                        <p class="col text-center">Exp: </p>
                        <p class="col text-center">Weight: {{ pokemon.weight }} </p>
                    </div>
    
                    <div class="col text-center">
                        <span>Types: </span>
                        <span *ngFor="let type of pokemon.types"> {{ type.type.name }}</span>
                    </div>
                    
                    <div class=" bi-text-left border-bottom">Stats:</div>
                
                    <div class="row justify-content-between">
                        <p class="col text-center"> {{ pokemon.stats[0].stat.name }}: {{ pokemon.stats[0].base_stat }}</p>
                        <p class="col text-center"> {{ pokemon.stats[1].stat.name }}: {{ pokemon.stats[1].base_stat }} </p>
                        <p class="col text-center"> {{ pokemon.stats[2].stat.name }}: {{ pokemon.stats[2].base_stat }} </p>
                    </div>
    
                    <div class="row justify-content-between">
                        <p class="col text-center">Sp. att: {{ pokemon.stats[3].base_stat }}</p>
                        <p class="col text-center">Sp. def: {{ pokemon.stats[4].base_stat }}</p>
                        <p class="col text-center">Speed: {{ pokemon.stats[5].base_stat }}</p>
                    </div>
                </div>
    
            </div>
    
            <div class="row my-custom-row justify-content-center align-items-start">
                
                <div class=" col-sm-5 my-custom-row text-center ">Abilities 
                    <div *ngFor="let ability of pokemon.abilities"> 
                        <div class="my-custom-row  p-3 card-dark-bg rounded">
                            <p class="col text-center"> {{ ability.ability.name }} </p>
                            <div class="row justify-content-between">
                                <p class="col text-center"> {{ ability.slot }} </p>
                                <p class="col text-center">learned </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5 my-custom-row text-center">Moves
                    <div *ngFor="let move of pokemon.moves | slice:0:3;"> 
                        <div class="my-custom-row p-3 card-dark-bg rounded">
                            <p class="col block text-center"> {{ move.move.name }} </p>
                            <p class="col text-center">learnable </p>
                        </div>   
                    </div>
                </div>
                
            </div>
            
        </section>
      </main>
</div>

  