header {
  /*  text-shadow: 0 0 4px var(--primary-blue); */
  -webkit-text-stroke: 1.5px var(--primary-blue);
  text-stroke: 1.5px var(--primary-blue);
  color: var(--primary-yellow);
  font-weight: 700;
  font-size: xx-large;
}


a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--primary-yellow);
}
