<nav class="d-flex justify-content-between" style="margin-top:1rem;">
    <button (click)="logout()" *ngIf="trainer !== undefined" class="btn primary-yellow rounded">Logout</button>
    <header class="position-absolute start-50 translate-middle-x">
        Pokemon Trainer            
    </header>
    <p class="invisible">hello</p>

    <div *ngIf="trainer !== undefined" class="text-end position-relative" style="margin-right: 2rem;"
            [ngClass]="{'invisible': currentRoute === '/login'}">
        <a routerLink="/catalogue" [ngClass]="{'invisible': currentRoute === '/catalogue'}" class="text-end">Catalogue</a>
        <a routerLink="/trainer" [ngClass]="{'invisible': currentRoute === '/trainer'}" class="text-end">Trainer</a>
        
    </div>
</nav>
