
<div class="center middle card-dark-bg rounded">
    <form class="parent " #loginForm="ngForm"(ngSubmit)="loginSubmit(loginForm)"> 
        <fieldset >
            <p class="text-center">Login</p>
            <p>username</p>
            <label for="username"></label>
            <input type="text" 
                ngModel
                #username="ngModel"
                name="username" id="username" 
                class=" border input-dark-bg rounded w-full"/>
            <button class="child btn btn-primary" type="submit" p-2 >Login</button>
        </fieldset>
        
    </form> 
   
</div>