 .btn {
  --bs-btn-color: var(--primary-yellow);
  --bs-btn-bg: var(--primary-blue);
  --bs-btn-border-color: var(--primary-blue);
}

 .btn-primary {
  padding-left: 2rem;
  padding-right: 2rem;
  --bs-btn-hover-color: var(--primary-yellow);
}
