<button
  class="btn btn-primary"
  style="max-width: fit-content"
  (click)="onCaughtClick()"
  [disabled]="isLoading"
>
  <ng-container *ngIf="!isLoading; else spinner">
    <ng-container *ngIf="isCaught; then caught; else NotCaught"></ng-container>

    <ng-template #caught>
      <span class="">Release</span>
    </ng-template>

    <ng-template #NotCaught>
      <span class="">Catch</span>
    </ng-template>
  </ng-container>

  <ng-template #spinner>
    <span class="">Loading</span>
  </ng-template>
</button>
