<article *ngIf="pokemon" class="card card-body">
  <img
    src="{{
      'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' +
        pokemon.id +
        '.png'
    }}"
    alt=""
    class="position-absolute start-50 translate-middle-x w-50"
    style="image-rendering: pixelated; top: 10% !important"
  />
  <h3 class="text-center position-relative">{{ pokemon.name }}</h3>

  <div class="d-flex justify-content-between">
    <svg [ngClass]="{'invisible': !isCaught, 'visible': isCaught}" style="margin-top: -10%;" width="32" height="32" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="12" cy="12" r="9"/><circle cx="12" cy="12" r="3"/><path d="M3 12h6m6 0h6"/></g></svg>
    <svg [ngClass]="{'invisible': isCaught, 'visible': !isCaught}" style="margin-top: -10%;" width="32" height="32" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M20.04 16.048A9 9 0 0 0 7.957 3.958m-2.32 1.678a9 9 0 1 0 12.737 12.719"/><path d="M9.884 9.874a3 3 0 1 0 4.24 4.246m.57-3.441a3.012 3.012 0 0 0-1.41-1.39M3 12h6m7 0h5M3 3l18 18"/></g></svg>
  </div>
  


  <div class="row" style="margin-top: 45%">
    <p class="col">Type:</p>
    <div class="col text-end">
      <span class="text-end text-capitalize" *ngFor="let type of pokemon.types"
        >{{ type.type.name }},
      </span>
    </div>
  </div>

  <div class="row">
    <p class="col">Abilities:</p>
    <div class="col text-end">
      <span
        class="text-end text-capitalize"
        *ngFor="let ability of pokemon.abilities"
        >{{ ability.ability.name }},
      </span>
    </div>
  </div>

  <div class="row justify-content-between">
    <p class="col text-center">HP: {{ pokemon.stats[0].base_stat }}</p>
    <p class="col text-center">Att: {{ pokemon.stats[1].base_stat }}</p>
    <p class="col text-center">Def: {{ pokemon.stats[2].base_stat }}</p>
  </div>

  <div class="d-flex justify-content-evenly">
    <a href="detail/{{pokemon.id}}" class="text-decoration-none text-center see-more"> Show more </a>

    <app-catch-button
      [pokemonId]="pokemon.id"
      (isCaughtEmitter)="setCaught($event)"
    >
    </app-catch-button>
  </div>
</article>
