<div *ngIf="trainer" class="row d-flex justify-content-center">
  <div class="col-md-5">
   
    <div class="card card-body">
      <div class="row mb-2">
        <h4 class="text-center">{{ trainer.username }}</h4>
      </div>
      <div class="row">
        <p class="text-center">Pokemons: {{ trainer.pokemon.length }}</p>
      </div>
    </div>

  </div>
</div>


  