.search-input {
  border-radius: 0 0.375rem 0.375rem 0;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  outline: none;
}

.cs-input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.cs-form-select {
  display: block;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;

  border-radius: 0.375rem 0 0 0.375rem;

  appearance: none;
}
/* -moz-padding-start: calc(0.75rem - 3px);  */
