<div class="row">
  <div class="mx-auto col-12 col-md-6">
    
    <section class="cs-input-group container">
      <select
        class="cs-form-select card-dark-bg text-white w-25"
        aria-label="Default select example"
        [(ngModel)]="selectedValue"
      >
        <option value="name" selected>Name</option>
        <option value="type">Type</option>
      </select>
      <input
        type="text"
        class="card-dark-bg text-white w-75 search-input"
        placeholder="Search query"
        aria-label="search"
        [(ngModel)]="query"
        (ngModelChange)="searchChange($event)"
      />
    <!-- 
      <div *ngFor="let pokemon of pokemonList | searchFilter: query: selectedValue">
        
      </div> -->
      
    </section>

  </div>
</div>

