<main class="margin-divide container-lg " style="height: 100%;">
    <h1 class="text-center">
        Ohh no, you ended up here 😱
    </h1>
    <p class=" text-center opacity-75">You might have looked for either of the below endpoints</p>
    <div class="margin-divide row justify-content-center ">
        <a routerLink="/catalogue" class="col text-decoration-none" title="Catalogue" style="max-width: fit-content;">Catelogue</a>
        <a routerLink="/trainer" class="col text-decoration-none" title="Trainer" style="max-width: fit-content;">Trainer</a>
        <a routerLink="/login" class="col text-decoration-none" title="Login" style="max-width: fit-content;">Login</a>
        <a routerLink="/detail/4" class="col text-decoration-none" title="Charmander?" style="max-width: fit-content;">Charmander?</a>
    </div>
</main>
