/* You can add global styles to this file, and also import other style files */
:root {
  --bg-dark: #263238;
  --bg-dark-card: #526d7a;
  --bg-dark-input: #D9D9D9;
  --primary-blue: #3761A8;
  --primary-yellow: #FECA1B;
}


body {
  height: 100%;
  background-color: var(--bg-dark);
  color-scheme: dark;
  color: white;
}

.card-dark-bg {
  background-color: var(--bg-dark-card);
  border-color: var(--bg-dark-card);
}

.primary-yellow{
  color: var(--primary-yellow);
}

.input-dark-bg {
  background-color: var(--bg-dark-input);
}

.primary-dark-btn {
  background-color: var(--primary-blue);
  color: var(--primary-yellow);
}

.margin-divide{
  margin-top: min( 8rem, 15vh);
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  }




  .parent {
height: 100%;

display: flex;
align-items: center;
justify-content: center;
}
.child {
margin-top: 2rem;
width: 50%;
height: 100%;
}