<main class="container-xxl margin-divide">
  <comp-search-box (filteredPokemonsEvent)="setFiltered($event)" [pokemonList]="pokemonList"></comp-search-box>

  <section class="margin-divide container">
    <div class="row row-cols-2 row-cols-md-3" style="gap: 1rem 0;">
      <comp-catalogue-card *ngFor="let pokemon of filteredPokemonList" [pokemon]="pokemon" class="col"></comp-catalogue-card>
    </div>
  </section>
</main>
